m{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  }

h1 {
  font-size: 50px;  
  margin: 0;
  padding: 0%; 
  color: black; 
  text-align: center;
  background-color: blue; 

}


body {
    background-color: rgb(195, 195, 255); 
    display: grid ;  
    font-family: Arial, sans-serif; 
    font-size: 20px; 
  
  }
  
  form {
    background-color: whitesmoke;   
    max-width: 600px;  
    border-radius: 10px;
    margin: 40px auto; 
  }
  
  input[type="text"],
  input[type="number"], input[type="email"] {width: 100%;
    padding: 1% 10px; 
    font-size: 20px; 
    margin-bottom: 20px; 
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;   
    margin: 0 20px
  }
input[type="text"]:hover,
input[type="number"]:hover,
input[type="email"]:hover {
  border-color: gray; 
  background-color: rgb(184, 184, 184);
}
 
label[for="1"],label[for="2"],
label[for="3"],label[for="4"],
label[for="5"],label[for="6"]{
  margin: 0 20px
}

label[for="1"]:hover,label[for="2"]:hover,label[for="3"]:hover,label[for="4"]:hover,label[for="5"]:hover,label[for="6"]:hover{color: blue; }

 

  fieldset {
    background-color: rgb(195, 195, 255);
    padding: 20px; 
    border-radius: 10px;
  }
  

  fieldset input[name="tech_skill"] {
    position: relative;  margin-right: 10px;
    top: 2px;
  }

  h3{text-align: center;
   margin-top: 20px; font-size: 25px;}


  input[type="radio"] {
    width: 20px;
    height: 20px;  
    margin-right: 10px;
  }

  
  .radio-container input[type="radio"] {
  margin:  10px;
}

.hold input[type="radio"] {
  margin:  10px;
}

.hold label, .radio-container label {
   width: 100%;
   padding: 10px; font-size: 20px;
   margin-bottom: 20px;
   border-radius: 5px; margin:  10px;
}
.radio-container label:hover , .hold label:hover{color: blue; text-transform: capitalize}


button {
  background-color: rgb(60, 60, 243);
  color: #fff;
  padding: 10px 20px; 
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer; 
}
button:hover{background-color: rgb(43, 22, 233);}
